* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333533;
    font-family: "Roboto Condensed", sans-serif;
}

h1 {
    margin-top: 20px;
    margin-left: 15px;
    color: #cfdbd5;
    font-size: 50px;
}

.EmployeesContainer {
    background-color: #e8eddf;
    color: #333533;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
}

h2 {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 30px;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #333533;
    height: 25px;
    width: 250px;
}

button {
    height: 45px;
    width: 140px;
    align-self: center;
    border: none;
    background-color: #333533;
    border-radius: 20px;
    color: #e8eddf;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

tbody {
    font-size: 20px;
}

td {
    text-align: center;
    vertical-align: middle;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.messeges {
    color: #333533;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    width: 200px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
}